.navigation {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(8, 8, 8);
    }

    li {
        float: left;
        border-right: 1px solid #960920;
        border-bottom: 1px solid #960920;
    }

    li a {
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 14px 30px;
        text-decoration: none;
    }

    li:last-child {
        border-right: none;
    }

    li a:hover {
        background-color: #111;
        color: #960920;
    }

    .active {
        background-color: #960920;
    }
}